# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Build and distribution artifacts
build/
dist/
*.egg-info/

# macOS system files
.DS_Store

# Logs and temporary files
*.log
*.tmp